---
title: Galerie Pixijs Experiment
---

<div id="page" class="page_hexagon page_galerie" data-experience="galerie-pixi">
  <canvas id="canvas" width="300" height="300"></canvas>
  <%= image_tag "distortion/clouds.jpg", class: 'page_galerie__distortion js-clouds' %>
  <ul class="js-images">
    <% (1..20).each do |i| %>
    <% image_url = image_path "galerie/img-#{i}.jpg" %>
    <li><%= image_tag "galerie/img-#{i}-thumbnail.jpg", data: {src: image_url, loaded: false} %></li>
    <% end %>
  </ul>
</div>
